<div class="container-fluid bg">
    <div>
        <div><img src="../../../assets/img/logo3.png" alt="logo" class="img-responsive logo">
            <div style="float:right">
                <ul class="nav justify-content-end" style="margin-top: 3rem;margin-right: 3rem;">
                    <li class="nav-item">
                        <a class="topmenu effect-underline" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="topmenu effect-underline" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="topmenu effect-underline" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="topmenu effect-underline" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- ส่วนแนะนำ -->
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 1rem;margin-top: 1.5rem;">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="jumbotron example" id="jumbro">
                        <div class="media">
                            <img class="align-self-center mr-3" src="../../../assets/img/cartoon/engineer.png" alt="Generic placeholder image"
                                style="width:100px;height:auto;">
                            <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for
                                    calling extra
                                    attention to featured content or information.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <p class="text2">It uses utility classes for typography and spacing to space content out within
                            the
                            larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="jumbotron example" id="jumbro">
                        <div class="media">
                            <img class="align-self-center mr-3" src="../../../assets/img/cartoon/architect.png" alt="Generic placeholder image"
                                style="width:120px;height:150px;">
                            <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for
                                    calling extra
                                    attention to featured content or information.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <p class="text2">It uses utility classes for typography and spacing to space content out within
                            the
                            larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="jumbotron example" id="jumbro">
                        <div class="media">
                            <img class="align-self-center mr-3" src="../../../assets/img/cartoon/acc.png" alt="Generic placeholder image"
                                style="width:100px;height:auto;">
                            <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for
                                    calling extra
                                    attention to featured content or information.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <p class="text2">It uses utility classes for typography and spacing to space content out within
                            the
                            larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="jumbotron example" id="jumbro">
                        <div class="media">
                            <img class="align-self-center mr-3" src="../../../assets/img/cartoon/engineer.png" alt="Generic placeholder image"
                                style="width:100px;height:auto;">
                            <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for
                                    calling extra
                                    attention to featured content or information.</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <p class="text2">It uses utility classes for typography and spacing to space content out within
                            the
                            larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="jumbotron example" id="jumbro">
                                <div class="media">
                                <img class="align-self-center mr-3" src="../../../assets/img/cartoon/engineer.png" alt="Generic placeholder image" style="width:100px;height:auto;">
                                <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for calling extra
                                    attention to featured content or information.</p>                         
                                </div>         
                                </div>
                                <hr class="my-2">
                                <p class="text2">It uses utility classes for typography and spacing to space content out within the
                                    larger container.</p>
                                <p class="lead">
                                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                </p>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="jumbotron example" id="jumbro">
                                <div class="media">
                                <img class="align-self-center mr-3" src="../../../assets/img/cartoon/engineer.png" alt="Generic placeholder image" style="width:100px;height:auto;">
                                <div class="media-body">
                                <h1 class="mt-0 subject">Hello, world!</h1>
                                <p class="mt-0 text">This is a simple hero unit, a simple jumbotron-style component for calling extra
                                    attention to featured content or information.</p>                         
                                </div>         
                                </div>
                                <hr class="my-2">
                                <p class="text2">It uses utility classes for typography and spacing to space content out within the
                                    larger container.</p>
                                <p class="lead">
                                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                </p>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg2">

</div>